@import "tailwindcss";


/* index.css or App.css */
.clip-md {
  clip-path: none;
}
   .clip-md2 {
    clip-path: none;
  }


@media (min-width: 768px) {
  .clip-md {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
  }

}
@media (min-width: 1024px) {

   .clip-md2 {
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0% 100%);
  }

}




@theme {

  --color-primary:#E4370E;
  --color-secondary: #EEF365;
  --color-white: #ffffff;
  --color-red: #eb1515;
  --color-black: #000000;
  --color-gray: #e8e2e2;
  --color-brown: #5b0808;
  --color-white2: #f7f7f7
}

@layer base {
  h1, .h1 {
    @apply text-3xl sm:text-6xl md:text-6xl lg:text-[80px] font-semibold;
  }

  h2, .h2 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-[40px] font-semibold;
  }

  h3, .h3 {
    @apply text-xl sm:text-2xl md:text-3xl font-medium;
  }

  h4, .h4 {
    @apply text-lg sm:text-xl md:text-xl lg:text-2xl font-medium;
  }
    h5, .h5 {
    @apply text-base sm:text-lg md:text-lg font-semibold;
  }
     h6, .h6 {
    @apply text-sm sm:text-lg md:text-base font-semibold;
  }
}





@layer utilities {
  /* Slide from Left */
  .animate-slideLeft {
    animation: slideLeft 1s ease-out forwards;
  }

  /* Slide from Right */
  .animate-slideRight {
    animation: slideRight 1s ease-out forwards;
  }

  /* Fade + Move Up */
  .animate-fadeUp {
    animation: fadeUp 1s ease-out forwards;
  }

  /* Slow Zoom (background images) */
  .animate-slowZoom {
    animation: slowZoom 6s ease-in-out infinite;
  }
}

/* ===================== */
/* KEYFRAMES */
/* ===================== */

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  } 
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slowZoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


@keyframes pulse-ring {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.6);
  }
  70% {
    box-shadow: 0 0 0 18px rgba(239, 68, 68, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUpFade 1s ease-out forwards;
}


.carousel .control-dots {
  z-index: 10 !important;
}

.carousel .carousel-status {
  z-index: 10 !important;
}